/Fortis/*
/lib/*
/packages/*

/src/Website/*
!/src/Website/Views/
!/src/Website/Models/
!/src/Website/layouts/
!/src/Website/Controllers/
!/src/Website/App_Start/

!/src/Website/Global.asax

/src/Website/temp

*.csproj.user
*.suo
bin/
obj/
